/********
reset 
primary-light-0:#7bbff0;
primary:#2980b9;
primary-dark-0:#1a4d6f;
primary-dark-1:#032e4d;
primary-dark-2:#031e31;
black:#535353;
grey:#dedede;
green-light-0:#55efc4;
green:#29787c;
********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:solid grey 1px; */
}
body{
    color:#535353;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
/********
layout / grid design
********/
.container{
    width: 960px;
    margin: 0 auto;
    
}
@media only screen and (min-width:769px)and(max-width:992px){
    .container{
        width: 750px;
    }
}
@media only screen and (max-width:768px){
    .container{
        width: 100%;
    }
}
.row::after{
    content:"";
    display:table;
    clear:both;
    /* 這組寫法固定 */
}
[class^="col-"]{
    padding-left:15px ;
    float: left;
}
[class^="col-"]:not(:last-child){
    margin-right: 30px;
    /* col全部最後一個以外其他都30px */
}

.col-md-4{
    width: calc((100% - 2 * 30px) / 3);
}
.col-md-3{
    width:calc((100% - 3 * 30px) / 4);
}
.col-md-6{
    width:calc((100% - 30px) / 2);
}

@media only screen and (max-width: 768px){
    .col-md-4, .col-md-6 {
        width: 100%;
        padding: 10px;
    }
    .col-sm-6{
        float:left;
        width:calc((100% - 30px) /2 );
    }
    .col-sm-6:not(:last-child){
        margin-right: 15px;
    }
}




/********
global HTML element 
********/
a{
    text-decoration: none;
    color:#535353;
}
.h2-container{
    display: flex;
    justify-content: center;
}
h2{
    font-weight: 700;
    font-size: 32px;
    position: relative;
}
h2::before{
    content:"";
    display:block;
    width: 30px;
    height: 5px;
    background:#2980b9;
    position: absolute;
    bottom:-10px;
}
.btn{
    border-radius: 3px;
    padding: 15px 32px;
    display: inline-block;
    text-transform: uppercase;
    /* 全部大寫 */
}
.btn-outline{
    border:2px solid #2980b9;
    color:#2980b9;
    transition: 0.5s;
}
.btn-outline:hover{
    border:2px solid #7bbff0;
    color:#7bbff0;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.btn-full{
    background:#2980b9;
    color:#fff;
    transition: 0.5s;
}
.btn-full:hover{
    background:#1a4d6f;
    color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.img-full{
    width: 100%;
    border-radius: 10px;
}

.text-center{
    text-align: center;
}

/********
Utilities
********/
.pt-60{
    padding-top: 60px;
}
.pt-90{
    padding-top: 90px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-90{
    padding-bottom: 90px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-60{
    margin-bottom: 60px;
}
.mt-20{
    margin-top: 20px;
}

/********
nav 
********/
nav{
    padding: 16px;
}
.nav-logo{
    width: 150px;
    display:block;
    /* inline沒辦法給高度寬度 */
    float: left;
}
.nav-list{
    list-style: none;
    float: right;
}
.nav-list li{
    display:inline-block;
    margin-top: 10px;
    margin-right: 16px;
}
.nav-list li:last-of-type{
    margin-right: 0;
}
.nav-menu{
    display: none;
    margin-top: 10px;
}
@media only screen and (max-width: 768px){
    .nav-list{
       display: none; 
    }
    .nav-menu{
        margin-top: 10px;
        display: block;
        float: right;
    }
}

.nav-show-menu{
    position: relative;
}
.nav-show-menu .nav-list{
    display: block;
    position: absolute;
    top:50px;
    z-index: 5;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) ;
}
.nav-show-menu .nav-list li{
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 40px;
    margin-right: 0;
    font-size: 18px;
}
/********
header 
********/
header{
    background:url(https://images.pexels.com/photos/2549018/pexels-photo-2549018.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-2549018.jpg&fm=jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    position: relative;
}
.header-container{
    background:rgba(0, 0, 0, 0.5);
    color:#ffffff;
    padding: 20px;
    display:inline-block;
    position: absolute;
    top:30%;
    left:10%;
    /* 以左上方為基準點 */
    transform: translate(-10%,-50%);
}

@media only screen and (max-width: 768px){
    .header-container{
        top:50%;
        left:23%; 
    }
}

.header-h1{
    font-weight: 300;
    font-size: 42px;
    margin: 0 0 10px 0;
}
.subtitle{
    color:#dedede;
    font-style: italic;
    /* 斜體 */
    margin-top: 10px;
    text-transform: capitalize;
    /* 句子每一字的第一個字大寫 */
}
/********
about 
********/
.about-text{
    line-height: 1.8;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
/********
hotel showcase
********/
.hotel-showcase{
    list-style: none;
    width: 100%;
}
.hotel-showcase li{
    width: 25%;
    float:left;
    height: 180px;
    overflow: hidden;
}
@media only screen and (max-width: 768px){
    .hotel-showcase{
        list-style: none;
        width: 100%;
    }
    .hotel-showcase li{
        width:50%;
        padding: 3px;
        float:left;
        height: 120px;
        overflow: hidden;
    }
    .hotel-photo{
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
    }
    
}
.hotel-photo{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}
.hotel-photo:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
/********
testimonials
********/
.testimonials-card{
   
    padding: 60px 30px 0px;
    border-radius: 20px;
    border:1px solid #ccc;
    overflow: hidden;
}
.testimonials-card-text{
    line-height: 1.8;
    padding-bottom: 60px;
    position: relative;
}
.testimonials-card-text::before,
.testimonials-card-text::after{
    font-size: 64px;
    color:#dedede;
    position: absolute;
}
.testimonials-card-text::before{
    content:"\201C";
    top:-50px;
    left:-10px;
}
.testimonials-card-text::after{
    content:"\201D";
    bottom:-10px;
    right:0;
}

.testimonials-card-info{
    background: #29787c;
    color:#ffffff;
    margin: 0 -30px;
    padding: 60px 0 30px;
    position: relative;
}
.testimonials-card-name{
    font-size: 18px;
    margin-bottom: 5px;
}
.testimonials-card-position{
    color:#55efc4;
}
.testimonials-card img{
    width:60px;
    height: 60px;
    position: absolute;
    left:50%;
    top: -25px;
    transform:translateX(-50%) ;
    background: #ffffff;
    border-radius: 50%;
    border:3px solid #7bbff0;
}
@media only screen and (max-width: 768px){
    .testimonials-card{
        /* margin-right: 15px;  */
        margin-bottom: 10px;
    }
}
/********
clients
********/
.clients{
    background: #031e31;
}
/********
contact us
********/

.google-maps {
    position: relative;
    padding-bottom: 75%;
    /* 它適合的比例 */
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.form-group{
    margin-bottom: 15px;
}

.form-froup-label{
    display: block;
    margin-bottom: 5px;
}
.form-input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 6px 12px;
    border:1px solid #dedede;
}
textarea.form-input{
    /* 要兩者都要有才執行 */
    height: 150px;
}
/********
footer 
********/
footer{
    background: #426a86;
}
.footer-list{
    list-style: none;
    color:#fff;
}
.footer-list li{
    display: inline-block;
    margin-right: 16px;
}
.footer-list li:last-of-type{
    margin-right: 0;
}
.footer-logo{
    height: 50px;
    color: #55efc4;
}
.copyright{
    color:#7bbff0;
    background:#09385a ;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;

}
/********
scrollTopBtn 
********/
.scrollTopBtn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right:20px;
    bottom: 30px;
    border-radius: 50%;
    background: #55efc4;
    
}
.scrollTopBtn i{
    color:#fff;
}
